.jumbotron-background-color {
  background-color: #f1f3ff;
}

.square {
  width: 100px;
  height: 34px;
  background-color: blue;
}

.img-mobil {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 15cm;
}

.bg-color {
  background-color: #5cb85f;
}

.img-logo {
  width: 100px;
  height: 34px;
}

.bg-mobil {
  background-color: blue;
}

.size {
  size: 14px;
  font-family: Helvetica;
}

.card {
  height: 300px;
}
